.section {
    display: flex;
    justify-content: space-between;
    padding: 40px 10%;
    margin: 40px 0;
    gap: 60px;
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

.vision {
    width: 50%;
}

.vision h6,
.approach h6 {
    font-size: 30px;
    margin: 30px 0;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Roboto, Noto Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.vision h6::after,
.approach h6::after {
    content: "";
    flex: 1;
    height: 1.5px;
    background: #d9d9d9;
}

.dropcap::first-letter {
    font-size: 50px;
    float: left;
    color: var(--primary-color);
    line-height: 0.7;
    padding-right: 10px;
    padding-top: 6px;
}

.vision p {
    color: var(--text-color);
    background-color: #f5f5f5;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
}

.author {
    font-size: 20px;
    margin-top: 20px;
    font-family: Roboto, sans-serif;
    color: var(--primary-color);
    text-align: right;
}

.approach {
    width: 50%;
}

.accordion {
    margin-top: 15px;
}

.acc-item {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    border-radius: 2px;
    overflow: hidden;
}

.acc-header {
    background: var(--primary-color);
    color: white;
    padding: 2px 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.acc-header:hover {
    cursor: pointer;
}

.acc-header .arrow {
    margin-left: auto;
    font-size: 14px;
}

.acc-content {
    font-size: 15px;
    background: white;
    padding: 18px 20px;
    font-family: Roboto, sans-serif;
    color: var(--text-color);
    line-height: 1.6;
}

.icon {
    font-size: 20px;
    padding-top: 15px;
}

@media (max-width: 1000px) {
    .section {
        flex-direction: column;
        padding: 30px 5%;
        gap: 30px;
    }

    .vision,
    .approach {
        width: 100%;
    }
}


